<header id="header"><img src="#"/><div style="padding-left:250px"><p>Com E-Market Place</p></div></header>
<div id="container">
  <main id="center" class="column">
			<!-- <article>
			
				<h1>W-CeM</h1>
				<p><script>generateText(50)</script></p>
        <!-- It is one of the software service Provider(Saas) on Web.Providing service such as Customer view product,order the product as choice.It is more flexible and fastest web site to get purchase.W-CeM providing options to payment for the users with no transaction charges such as UPI,Net Banking,Credit/Debit with EMI. 
		
			</article> -->
      	<router-outlet></router-outlet>								
		</main>
  <nav id="left" class="column">
			<h3>Mobile</h3>
			<ul>
				<li><a routerLink="/lenovoMobile">Lenovo</a></li>
				<li><a routerLink="/nokiaMobile">Nokia</a></li>
				<li><a routerLink="/samsungMobile">Samsung</a></li>
		
			</ul>
			<h3>Mobile Accessories</h3>
			<ul>
				<li><a routerLink="#">USB Charger</a></li>
				<li><a routerLink="#">Back Cover</a></li>
				<li><a routerLink="#">Tempered Glass</a></li>
        	<li><a routerLink="#">Battery Glass</a></li>
			</ul>
      	<h3>Laptop</h3>
      	<ul>
				<li><a routerLink="/lenovoLaptop">Lenovo Think Center</a></li>
				<li><a routerLink="/compaqLaptop">compaq</a></li>
				<li><a routerLink="/dellLaptop">Dell</a></li>
			</ul>

		</nav>
    
<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)sdfadf
</p> -->
</div>
<div id="footer-wrapper">
		<footer id="footer"><div style="padding-left:250px"><p>© Copyright 2020 
      C-eMp</p></div></footer>
	</div>
